/*
File:			custom.css
Description:	Custom styles for Thesis
More Info:		http://diythemes.com/thesis/rtfm/custom-css/
*/

/*---:[ responsive resets ]:---*/
.format_text img,
.format_teaser img,
.format_text iframe,
.format_text object {
	max-width: 100%
}

.format_text img,
.format_teaser img {
	height: auto
}

/* 3col widgetised footer */
.custom #footer-widget-block { text-align:left; overflow:hidden; }
.custom .footer-widgets { width:33%; float:left; }
.custom .my-footer-one {}
.custom .my-footer-two {}
.custom .my-footer-three {}